Repository openedx/edx-ora2, pull requests merged in 2021-01, with the labels that each got.

#1579 [TSD] Add annotations for ORA2_FILEUPLOAD_BACKEND
  openassessment/fileupload/backends/__init__.py
Labels: engineering review, open-source-contribution

#1581 [TSD] Fix annotation: The default value should be a string
  openassessment/fileupload/backends/__init__.py
Labels: needs triage, open-source-contribution

#1250 SE-1168/FAL-92 implement ORA process summary report csv
  openassessment/assessment/api/peer.py
  openassessment/assessment/test/test_peer.py
  openassessment/data.py
  openassessment/tests/test_data.py
  openassessment/workflow/models.py
  setup.py
Labels: cc-reviewer, open-source-contribution, ready to merge
